body{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: green;
    background-color: #1f1f1f;
}

main{
    max-width: 158rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

img
{
    max-width: 100%;
}

.navigation
{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}